.Jcalendar-wrapper {
    position: fixed;
    right: 0;
    bottom: -100%;
    left:0;
    box-sizing: border-box;
    padding: 4px 6px;
    z-index: 2017;
    background: #fff;
    transition:bottom 0.3s;    
}
.Jcalendar-bg{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;    
    left:0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition:opacity 0.3s;
}

.Jcalendar-header {
    margin: 4px 6px;
    text-align: center;
}

.Jcalendar-prev-year,
.Jcalendar-prev-month,
.Jcalendar-next-month,
.Jcalendar-next-year {
    margin: 0;
    color: #97a8be;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    padding: 0 8px;
    vertical-align: 2px;
}
.Jcalendar-prev-year,
.Jcalendar-prev-month{
    float: left;
}
.Jcalendar-next-month,
.Jcalendar-next-year {
    float: right;    
}
.Jcalendar-year,
.Jcalendar-month {
    color: #48576a;
    font-size: 14px;
    line-height: 22px;
    padding: 0 8px;
}

.Jcalendar-table {
    width: 100%;
    border-collapse: collapse;
}

.Jcalendar-table th {
    color: #8391a5;
    font-size: 12px;
    line-height: 20px;
}

.available {
    text-align: center;
    font-size: 12px;
    width: 32px;
    height: 32px;   
    color: #48576a;
    cursor: pointer;
}
.available:hover{
    background-color: #ddd;
}

.current {
    background-color: #20a0ff!important;
    color: #fff !important;
}

.disabled {
    cursor: not-allowed;
    color: #ddd !important;
}
.disabled:hover{
     background-color: #fff !important;
}