.Jcalendar-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    left:0;
    box-sizing: border-box;
    padding: 4px 6px;
    z-index: 2017;
    background: #fff;
    transform: translateY(100%);    
    transition:transform 0.3s;  
}
.show{
    transform: translateY(0)!important;    
}
.Jcalendar-bg{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;    
    left:0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition:opacity 0.3s;
}
/* 头部 */
.Jcalendar-header{
    text-align: center;
    height: 38px;
    line-height: 38px;
}
.Jcalendar-title-text{
    color: #1f2f3d;
    font-size: 16px;
}
.Jcalendar-btn-cancel,.Jcalendar-btn-sure{
    font-size: 14px;
    text-decoration: none;
    color: #20a0ff;
    padding: 0 10px;
}
.Jcalendar-btn-cancel{
    float: left;
}
.Jcalendar-btn-sure{
    float: right;
}
/*主体*/
.Jcalendar-body{
    position: relative;
    overflow: hidden;
}

.Jcalendar-prev-year,
.Jcalendar-prev-month,
.Jcalendar-next-month,
.Jcalendar-next-year {
    margin: 0;
    color: #97a8be;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    padding: 0 8px;
    vertical-align: 2px;
}
.Jcalendar-prev-year,
.Jcalendar-prev-month{
    float: left;
}
.Jcalendar-next-month,
.Jcalendar-next-year {
    float: right;    
}
.Jcalendar-year,
.Jcalendar-month {
    color: #48576a;
    font-size: 14px;
    line-height: 22px;
    padding: 0 8px;
}
/* 日期选择 */
.Jcalendar-date-wrapper{
    width: 100%;
}
.Jcalendar-date-table {
    width: 100%;
    border-collapse: collapse;
}
.Jcalendar-date-header {
    margin: 4px 6px 12px;
    text-align: center;
}
.Jcalendar-date-table th {
    color: #8391a5;
    font-size: 12px;
    line-height: 20px;
}

.available {
    text-align: center;
    font-size: 12px;   
    color: #48576a;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.current {
    background-color: #20a0ff!important;
    color: #fff !important;
}

.disabled {
    text-align: center;
    font-size: 12px;   
    width: 32px;
    height: 32px;
    cursor: not-allowed;
    color: #ddd;
}
.disabled:hover{
     background-color: #fff !important;
}
/*时间选择 */
.Jcalendar-time-wrapper{
 position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    transform: translateY(100%);    
    transition:transform 0.2s; 
}
.Jcalendar-time-table{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
.Jcalendar-time-tag{
    color: #8391a5;
    font-size: 16px;
}
.hour-add,.minute-add,.second-add{
    color: #20a0ff;
    height: 38px;
    line-height: 38px;
    font-size: 26px;
    margin: 0;
}
.hour-text,.minute-text,.second-text{
    color: #1f2f3d;
    font-size: 16px;
}
.hour-dec,.minute-dec,.second-dec{
    color: #20a0ff;
    height: 38px;
    line-height: 38px;
    font-size: 26px;
    margin: 0;
}
.Jcalendar-time-table td{
    text-align: center;
    width: 33.3%;
}
.Jcalendar-btn-tab{
    border-top: 1px solid #e4e4e4;
    text-align: center;
    margin: 0;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #1f2f3d;    
}